@import '../.module.scss';

.root {
  @extend .wrapper;
  display: flex;
  align-items: center;
  height: 100%;
}

.leftWrapper {
  display: flex;
  align-items: center;
  width: 100px;
  padding: 0 12px;
}

.rightWrapper {
  @extend .leftWrapper;
  flex-direction: row-reverse;
}

.backButton:global(.ant-btn) {

  // 그냥 아이콘만 추가하면 가운데 정렬을 안 해줘서, 글자 삽입하고 가려버림
  >:not(:first-of-type) {
    display: none;
  }
}

.temp {
  color: #DDD
}