@import '../.module.scss';

.root {
  @extend .wrapper;
  display: flex;
  align-items: center;
  height: 100%;
}

.leftWrapper {
  display: flex;
  align-items: center;
  width: 100px;
  padding: 0 12px;
}

.rightWrapper {
  @extend .leftWrapper;
  flex-direction: row-reverse;
}

.centerWrapper {
  flex: 1;
}

.backButton {
  display: flex;
  align-items: center;
  
  svg {
    font-size: 20px;
    vertical-align: top;
  }
}

.menu:global(.ant-menu) {
  background: initial;
  border: 0;

  &:global(.ant-menu.ant-menu-dark) {
    background-color: initial;

    :global(.ant-menu-item-selected) {
      background-color: #aa3e19;
    }
  }
}

@media screen and (width < 768px) {
  .menu:global(.ant-menu) {
    display: none;
  }
}