@import '../.module.scss';

.root {
  @extend .wrapper;
  display: flex;
  align-items: center;
  height: 100%;
}

.logo {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  top: 0;
  overflow: hidden;
  transform: scale(0.6);
  margin: 8px;
  transform-origin: top left;
  transition: transform 0.3s ease-in-out;

  >* {
    transform: translateX(-25%);
  }

  &.big,
  &:hover {
    transform: initial;
  }
}

.menu:global(.ant-menu) {
  margin-left: 100px;
  background: initial;
  flex: 1;
  border: 0;
}