$max-root-width: 1366px;

.root:global(.ant-layout) {
  min-height: 100vh;
}

.wrapper {
  width: 100%;
  max-width: $max-root-width;
  margin: 0 auto;
}

.header:global(.ant-layout-header) {
  position: fixed;
  z-index: 100;
  width: 100%;
  padding: 0;
  background: #58181c;
}

.content:global(.ant-layout-content) {
  @extend .wrapper;
  margin-top: 64px;
}

.footer {
  margin-top: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}