@import url(//fonts.googleapis.com/css2?family=Yeon+Sung&display=swap);
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

body {
  font-family: 'Yeon Sung', 'Hanna', sans-serif;
  font-size: initial;
  line-height: 1.5;
}