:global(.ant-space) {
  &.none {
    width: 100%;
    position: relative;
  }

  &.shadow {
    @extend .none;
    border-radius: 4px;
    box-shadow: 0 2px 8px #C8CAC9;
  }

  &.line {
    @extend .none;
  }

  @media screen and (min-width: 768px) {
    &.none,
    &.shadow,
    &.line {
      padding: 16px;
    }
  }
}