$max-root-width: 1366px;
$mobile-default-padding: 8px;
$default-padding: 16px;

.root:global(.ant-layout) {
  min-height: 100vh;
}

.wrapper {
  width: 100%;
  max-width: $max-root-width;
  margin: 0 auto;
  padding: $mobile-default-padding;

  @media screen and (min-width: 768px) {
    padding: $default-padding;
  }
}

.header:global(.ant-layout-header) {
  @extend .wrapper;
  z-index: 100;
  background: #58181c;
}

.content:global(.ant-layout-content) {
  @extend .wrapper;
}

.footer {
  margin-top: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}